<% provide(:title, 'About Us') %>
<div class="center hero-unit">
	<div class="row">
		<h1>Meet the Team</h1>
	</div>
	<div class="row-fluid">
		<div class="span12 center">
			<p>
				Coming soon!
			</p>
			<br />
		</div>
		<div class="row-fluid">
			<div class="span6">
				<img class="content" width="278" height="256" src="" />
			</div>
			<div class="span6">
				<br />
				<p>
				</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<br /><br /><br /><br /><br />
				<p>
				</p>
			</div>
			<div class="span6">
				<img class="content" height="360" width="208" src="" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<img class="content" height="270" width="360" src="" />
			</div>
			<div class="span6">
				<br /><br /><br /><br />
				<p>
				</p>
			</div>
		</div>
		<br />
		<br />
		<p>Thanks for reading and we hope you enjoy!</h1>
	</div>
</div>