<div class="center hero-unit">
	<h1>Welcome to Skimmatic!</h1>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4>
				<h2>TRY</h2>
				<h2>ME</h2>
				<%= link_to "Try Me!", tryme_path, class: "btn btn-large btn-primary" %>			</div>
			</div>
		</div>
	</div>
</div>

#<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>