<% provide(:title, "Home") %>
<div class="center hero-unit">
	<h1>Welcome to Skimmatic!</h1>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4>
				<h2>Try me!</h2>
				<%= link_to "Test 1", test1pre_path, class: "btn btn-large btn-primary" %>			</div>
				<%= link_to "Test 2", test2pre_path, class: "btn btn-large btn-primary" %>			</div>
			</div>
		</div>
	</div>
</div>

#<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>