<% provide(:title, "Test 2") %>
<div class="container-fluid">
  <div class="row">
	<h1>Welcome to Skimmatic!</h1>
<h2>This is the original paper, if you're interested... then click "Next"</h2>	
	<div class="row">
<iframe src="https://docs.google.com/file/d/0B7V0qtHflXc5UDFJTUd3UktJOFU/preview" width="100%" height="800"></iframe>	</div>
	<div class="row center">
		<%= link_to "Next", testQs_path, class: "btn btn-large btn-primary" %>			</div>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>s