<% provide(:title, "Test 2") %>
<div class="container-fluid">
  <div class="row">
	<h1>Welcome to Skimmatic!</h1>
	
	<div class="row">
	
		<p>
		  <iframe src="Gopnik Wellman original.pdf" style="width:718px; height:700px;" frameborder="0"></iframe>
		</p>

		<%= link_to "Next", test2post_path, class: "btn btn-large btn-primary" %>			</div>
	</div>
  </div>
</div>

#<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>