<% provide(:title, "Test 1") %>
<div class="container-fluid">
  <div class="row">
	<h1>Welcome to Skimmatic!</h1>
	<h2>Please read the paper, then click "Next"</h2>

	<div class="row">	
		<iframe src="https://docs.google.com/gview?url=https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxza2ltcGRmfGd4OjJlMjVmZTJjYjYxNDc4Yjk" style="width:100%; height:800px;" frameborder="0"></iframe>
	</div>
	<div class="row center">
		<%= link_to "Next", test1qs_path, class: "btn btn-large btn-primary" %>			</div>
	</div>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>