<% provide(:title, "Test 2 Questions") %>
<div class="container-fluid">
  <div class="row">
	<h1>Welcome to Skimmatic!</h1>
	
	<div class="row">
	
		<p>
			<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dExocU5BejF1cVJUQkxtX1N2VXJkNmc6MQ" width="100%" height="2200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</p>

	</div>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>