<footer class="footer">
	<small>
		(c)Skimmatic, F+F 2012
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home",	home_path %></li>
			<li><%= link_to "Tests",	tests_path %></li>
			<li><a href="">News</a></li>
		</ul>
	</nav>
</footer>